{% extends "_admin_layout.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <form method="post" action="" enctype="multipart/form-data">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Employee Password</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">Old Password</div>
                            <div class="col-md-5">
                                <input type="Password" class="form-control" name="opassword" id="opassword">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">New Password</div>
                            <div class="col-md-5">
                                <input type="Password" class="form-control" name="npassword" id="npassword">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">Confirm New Password</div>
                            <div class="col-md-5">
                                <input type="Password" class="form-control" name="cpassword" id="cpassword">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-5">
                                <input class="form-control" type="submit" name="submit" id="submit"
                                       value="Change Password">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </form>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}


{% block scripts %}
    {% if msg %}
        <script>alert("{{ msg }}")</script>
    {% endif %}
{% endblock %}