{% extends "_admin_layout.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <form method="post" action="" onsubmit="return confirmvalidation()" enctype="multipart/form-data">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Faculty Entry</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">Faculty Name</div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="faculty_name" id="faculty_name"
                                       value="{{ rs_edit['faculty_name'] | default('') }}"/>
                            </div>
                            <div class="col-md-4"><span class="errmsg flash" id="errfaculty_name"
                                                        style="color: red;"></span></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">Designation</div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="faculty_designation"
                                       id="faculty_designation"
                                       value="{{ rs_edit['faculty_designation'] | default('') }}"/>
                            </div>
                            <div class="col-md-4"><span class="errmsg flash" id="errfaculty_designation"
                                                        style="color: red;"></span></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">Faculty Profile</div>
                            <div class="col-md-5">
                            <textarea class="form-control" name="faculty_profile"
                                      id="faculty_profile">{{ rs_edit['faculty_profile'] | default('') }}</textarea>
                            </div>
                            <div class="col-md-4"><span class="errmsg flash" id="errfaculty_profile"
                                                        style="color: red;"></span></div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-3">Status</div>
                            <div class="col-md-5">
                                <select class="form-control" name="faculty_status" id="faculty_status">
                                    <option value="">Select Status</option>
                                    {% set status_array = ["Active","Inactive"] %}
                                    {% for val in status_array %}
                                        {% if rs_edit['faculty_status'] == val %}
                                            <option value='{{ val }}' selected>{{ val }}</option>
                                        {% else %}
                                            <option value='{{ val }}'>{{ val }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4"><span class="errmsg flash" id="errfaculty_status"
                                                        style="color: red;"></span></div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-5">
                                <input class="btn btn-primary" type="submit" name="submit" id="submit" value="Submit">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </form>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
    <script>
        function confirmvalidation() {
            let i = 0;
            $('.errmsg').html('');
            let str = ""
            if (document.getElementById("faculty_name").value === "") {
                str += "ERROR: " + "Faculty name should not be empty";
                i = 1;
            }
            if (document.getElementById("faculty_designation").value === "") {
                str += "\nERROR: " + "Faculty designation should not be empty";
                i = 1;
            }
            if (document.getElementById("faculty_profile").value === "") {
                str += "\nERROR: " + "Faculty Profile should not be empty";
                i = 1;
            }
            if (document.getElementById("faculty_status").value === "") {
                str += "\nERROR: " + "Faculty status should not be empty";
                i = 1;
            }
            if (str !== "")
                alert(str)
            return i === 0;
        }
    </script>
{% endblock %}
