{% extends "_student_layout.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <br>
        <!-- Main content -->
        <section class="content">
            <form method="post" action="" onsubmit="return confirmvalidation2()" enctype="multipart/form-data">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Feedback Panel </h3>
                    </div>
                    <div class="card-body">

                        <table id="tblquestionviewer" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <center>
                                        {{ rs['feedback_topic'] }}
                                    </center>
                                </th>
                            </tr>
                            <tr>

                                <th></th>
                                <th>
                                    <center>
                                        Number of Questions :
                                        {{ fbq_answered + fbq_unanswered }}
                                        |
                                        Answered Questions :
                                        <span id="idansweredquestions">
                                            {{ fbq_answered }}
                                        </span>
                                        |
                                        Unanswered Questions :
                                        <span id="idunansweredquestions">
                                            {{ fbq_unanswered }}
                                        </span>
                                    </center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in fbq_rez %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <input type="hidden" name="edfeedbackquestionid" id="edfeedbackquestionid"
                                               value="{{ f['feedbackquestion_resultid'] }}">

                                        <table style='width: 100%;'>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <b>Question No. {{ loop.index }} :- </b><br><b
                                                        style="color: #005baa;">{{ f['question'] }}</b>
                                                </td>
                                            </tr>
                                            {% if f['question_type'] == 'Radio Button' %}
                                                {% for i in range(1,11) %}
                                                    {% if f['option' ~ i] != "" %}
                                                        <tr>
                                                            <td>
                                                                <b style='color: #9b2928;'>Option {{ i }}:</b>
                                                                <label>
                                                                    <input type="radio"
                                                                           name="option{{ f['feedbackquestion_resultid'] }}"
                                                                           required
                                                                           id="option

                                                                                   {{ f['feedbackquestion_resultid'] }}{{ i }}"
                                                                           value="{{ f['option' ~ i] }}"
                                                                           style="display: inline-block; border: 1px solid #000;border-radius: 50%;margin: 0 0.5em;width: 30px;height: 15px;"
                                                                           onclick="updanswer('{{ f['feedbackquestion_resultid'] }}',this.value,'{{ f['question_type'] }}')"
                                                                           onchange="updanswer('{{ f['feedbackquestion_resultid'] }}',this.value,'{{ f['question_type'] }}')">
                                                                    {{ f['option' ~ i] }}
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            {% if f['question_type'] == 'Check Box' %}
                                                {% for i in range(1,11) %}
                                                    {% if f['option' ~ i] != "" %}
                                                        <tr>
                                                            <td>
                                                                <b style='color: #9b2928;'>Option {{ i }}:</b>

                                                                <label for="option
                                                                        {{ f['feedbackquestion_resultid'] }}{{ i }}">
                                                                    <input type="checkbox"
                                                                           name="option

                                                                                   {{ f['feedbackquestion_resultid'] }}{{ i }}"
                                                                           required
                                                                           id="option

                                                                                   {{ f['feedbackquestion_resultid'] }}{{ i }}"
                                                                           value="{{ f['option' ~ i] }}"
                                                                           style="display: inline-block; border: 1px solid #000;border-radius: 50%;margin: 0 0.5em;width: 30px;height: 15px;"
                                                                           onclick="updanswer('{{ f['feedbackquestion_resultid'] }}',this.value,'{{ f['question_type'] }}')"
                                                                           onchange="updanswer('{{ f['feedbackquestion_resultid'] }}',this.value,'{{ f['question_type'] }}')">
                                                                    {{ f['option' ~ i] }}
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            {% if f['question_type'] == 'Text Box' %}
                                                <tr>
                                                    <td>
                                                        <b style='color: #9b2928;'
                                                           for="option{{ f['feedbackquestion_resultid'] }}10">
                                                            Kindly enter your Answer here
                                                        </b>
                                                        <textarea
                                                                class="form-control"
                                                                name="option{{ f['feedbackquestion_resultid'] }}"
                                                                id="option{{ f['feedbackquestion_resultid'] }}10"
                                                                required
                                                                onclick="updanswer('{{ f['feedbackquestion_resultid'] }}',this.value,'{{ f['question_type'] }}')"
                                                                onchange="updanswer('{{ f['feedbackquestion_resultid'] }}',this.value,'{{ f['question_type'] }}')"></textarea>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </form>
        </section>
        <!-- /.content -->

        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-body">
                    <center><input type="button" name="submit" id="submit" value="Click Here to End"
                                   class="btn btn-info"
                                   onclick="confirmtocomplete('{{ fbt }}', '{{ sid }}')"/>
                    </center>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>

    </div>
    <!-- /.content-wrapper -->

    <div id="idansstatus">
        <input type="hidden" name="answereedq" id="answereedq" value="{{ fbq_answered }}">
        <input type="hidden" name="unanswereedq" id="unanswereedq" value="{{ fbq_unanswered }}">
    </div>
{% endblock %}

{% block styles %}
    {% if rs['feedback_disptype'] == "Pagination Viewer" %}
        <script>
            $(document).ready(function () {
                $('#tblquestionviewer').DataTable({
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    "aaSorting": [[0, 'asc']],
                    "pageLength": 1,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                });
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function () {
                $('#tblquestionviewer').DataTable({
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    "aaSorting": [[0, 'asc']],
                    "pageLength": 50,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                });
            });
        </script>
    {% endif %}
    <script>
        console.clear()
        window.addEventListener('popstate', async function (event) {
            const res = await fetch('http://127.0.0.1:5000/api/date/reset')
            console.log(await res.json())
        });
    </script>
    <script>
        async function updanswer(feedbackquestion_resultid, answer, question_type) {
            var answers = "";

            if (question_type === "Radio Button") {
                answers = answer;
            }

            if (question_type === "Check Box") {
                $("input[name='option" + feedbackquestion_resultid + "']:checked").each(function () {
                    answers = answers + " " + this.value + ",";
                });
                answers = answers.replace(/.$/, ".");
            }

            if (question_type === "Text Box") {
                answers = answer;
            }

            console.clear()
            try {
                const response = await fetch(`http://127.0.0.1:5000/api/fbq/answer?feedbackquestion_resultid=${feedbackquestion_resultid}&answer=${answers}`);

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                console.log("data", data)
                // Update the elements with the response and values
                document.getElementById("idansstatus").innerHTML = data;
                document.getElementById("idansweredquestions").innerHTML = data.fbq_answered;
                document.getElementById("idunansweredquestions").innerHTML = data.fbq_unanswered;
            } catch (error) {
                console.error("Error fetching data:", error);
            }
        }


        function confirmtocomplete(feedbacktopicid, studentid) {
            let str = ""
            if (document.getElementById("idansweredquestions").value === 0) {
                str = "Are you sure?"
            }
            if (document.getElementById("idansweredquestions").value !== 0) {
                str = "All Questions not answered yet.. Are you sure want to close feedbackquestion panel?"
            }
            if (confirm(str) === true) {
                location.replace("/student/feedback/result?feedbacktopicid=" + feedbacktopicid + "&studentid=" + studentid);
            }

        }
    </script>
{% endblock %}
