{% extends "_admin_layout.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <br>
        <section class="content">
            <form method="post" action="">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">View Course record</h3>
                    </div>
                    <div class="card-body">
                        <table id="myTable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Course title</th>
                                <th>Course description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in result_set %}
                                <tr>
                                    <td>{{ rs['course_title'] }}</td>
                                    <td>{{ rs['course_description'] }}</td>
                                    <td>{{ rs['course_status'] }}</td>
                                    <td><a href='/admin/course/add?editid={{ rs['course_id'] }}' class='btn btn-info'>Edit</a> | <a
                                            href='/admin/course/view?delid={{ rs['course_id'] }}' onclick='return validatedel()'
                                            class='btn btn-danger'>Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
            </form>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <script>
        function validatedel() {
            return confirm("Are you sure want to delete this record?") === true;
        }
    </script>
{% endblock %}