<footer class="main-footer" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  
    <!--<strong>Copyright &copy; <?php echo date("Y"); ?> <a href="">Student Feedback System</a>.</strong> All rights reserved.-->
    <strong style="color:#007bff;"> Department of Computer Engineering</strong>
    <strong>Guided by : Prof. Jyoti Wadmare</strong>
    <strong><a href="aboutus.php">Developed by : Dakshita Kolte, Kapil Bhatia, </strong>
   <strong> Palak Desai and Kartikeya Dangat </a></strong>
</footer>  